# RStudio
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Non-anonimized student data
sta199-gradebook.csv
all-commits.csv
match-name.csv
roster-complete.csv

# LaTeX intermediaries and output
*.log
*.blg
*.bbl
*.tex
